/* Layout geral */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5EBDD;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 40px;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #C8A97E;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Cards */
.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Botão */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #F2B6C1;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

/* Rodapé */
footer {
    background-color: #C8A97E;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Galeria do rodapé */
.galeria-rodape {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.galeria-rodape img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.modal:target {
    display: flex;
}

.modal-conteudo {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
